
CREATE TABLE [dbo].[tbAsesores](
	[IdAsesor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre1] [varchar](25) NULL,
	[Nombre2] [varchar](25) NULL,
	[Apaterno] [varchar](25) NULL,
	[Amaterno] [varchar](25) NULL,
	[DNI] [varchar](8) NULL,
	[Celular] [varchar](9) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaUpdate] [datetime] NULL,
	[FechaDelete] [datetime] NULL,
	[Observaciones] [varchar](150) NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK_tbAsesores] PRIMARY KEY CLUSTERED 
(
	[IdAsesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbClientes]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbClientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre1] [varchar](25) NOT NULL,
	[Nombre2] [varchar](25) NULL,
	[Apaterno] [varchar](25) NOT NULL,
	[Amaterno] [varchar](25) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Celular] [varchar](9) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaUpdate] [datetime] NULL,
	[FechaDelete] [datetime] NULL,
	[Observaciones] [varchar](150) NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_tbClientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbConfiguracionSistema]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbConfiguracionSistema](
	[IdConfiguracion] [int] IDENTITY(1,1) NOT NULL,
	[PenalidadPorcentaje] [decimal](18, 2) NULL,
	[MoraPorCuota] [decimal](18, 2) NULL,
	[MaxMesesRetrasos] [int] NULL,
 CONSTRAINT [PK_tbConfiguracionSistema] PRIMARY KEY CLUSTERED 
(
	[IdConfiguracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCronograma]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCronograma](
	[IdCronograma] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[FechaVencimiento] [date] NULL,
	[MontoCuota] [decimal](10, 2) NULL,
	[EstadoCuota] [varchar](25) NULL,
	[Observacion] [varchar](100) NULL,
 CONSTRAINT [PK_tbCronograma] PRIMARY KEY CLUSTERED 
(
	[IdCronograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDetalleLote]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDetalleLote](
	[IdDetalleLote] [int] IDENTITY(1,1) NOT NULL,
	[IdLote] [int] NULL,
	[IdMedida] [int] NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK_tbDetalleLote] PRIMARY KEY CLUSTERED 
(
	[IdDetalleLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHistorialEstadoLote]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHistorialEstadoLote](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdLote] [int] NULL,
	[EstadoAnterior] [varchar](30) NULL,
	[EstadoNuevo] [varchar](30) NULL,
	[FechaCambio] [datetime] NULL,
	[Motivo] [varchar](100) NULL,
 CONSTRAINT [PK_tbHistorialEstadoLote] PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLotes]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLotes](
	[IdLote] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NULL,
	[CodigoLote] [varchar](25) NOT NULL,
	[Ubicacion] [varchar](50) NOT NULL,
	[NumeroLote] [varchar](20) NOT NULL,
	[Manzana] [varchar](20) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[ImagenUrl] [varchar](100) NOT NULL,
	[EstadoLote] [varchar](20) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_tbLotes] PRIMARY KEY CLUSTERED 
(
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMedidas]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMedidas](
	[IdMedida] [int] IDENTITY(1,1) NOT NULL,
	[Izquierda] [decimal](10, 2) NULL,
	[Derecha] [decimal](10, 2) NULL,
	[Frente] [decimal](10, 2) NULL,
	[Fondo] [decimal](10, 2) NULL,
	[Perimetro] [decimal](10, 2) NULL,
	[TamañoM2] [decimal](10, 2) NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK_tbMedidas] PRIMARY KEY CLUSTERED 
(
	[IdMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNotificaciones]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNotificaciones](
	[IdNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[Mensaje] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
	[leida] [char](1) NULL,
 CONSTRAINT [PK_tbNotificaciones] PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPagos]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPagos](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdCronograma] [int] NULL,
	[IdTipoComprobante] [int] NULL,
	[Serie] [char](4) NULL,
	[Numero] [int] NULL,
	[FechaPago] [datetime] NULL,
	[Monto] [decimal](18, 2) NULL,
	[NumeroCuota] [int] NULL,
	[MoraPorCuota] [decimal](18, 2) NULL,
	[EstadoPago] [varchar](20) NULL,
 CONSTRAINT [PK_tbPagos] PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProyectos]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProyectos](
	[IdProyecto] [int] IDENTITY(1,1) NOT NULL,
	[CodProyecto] [varchar](10) NULL,
	[Nombre] [varchar](50) NULL,
	[Ubicacion] [varchar](70) NULL,
	[NumeroHectareas] [varchar](50) NULL,
	[PartidaRegistral] [varchar](70) NULL,
	[ImagenUrl] [varchar](255) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaUpdate] [datetime] NULL,
	[FechaDelete] [datetime] NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK_tbProyectos] PRIMARY KEY CLUSTERED 
(
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTipo]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipo](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Grupo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTipoComprobante]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoComprobante](
	[IdTipoComprobante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Serie] [char](4) NULL,
	[Numero] [int] NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK_tbTipoComprobante] PRIMARY KEY CLUSTERED 
(
	[IdTipoComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuarios]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[TipoUsuario] [varchar](25) NOT NULL,
	[Celular] [varchar](9) NULL,
	[FechaRegisstro] [datetime] NULL,
	[FechaUpdate] [datetime] NULL,
	[FechaDelete] [datetime] NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_tbUsuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbVentas]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbVentas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdLote] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdCliente] [int] NULL,
	[IdAsesor] [int] NULL,
	[FechaVenta] [datetime] NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[TipoVenta] [varchar](25) NULL,
	[TipoPago] [varchar](25) NULL,
	[MontoInicial] [decimal](18, 2) NULL,
	[PlazoMeses] [int] NULL,
	[Estadoventa] [varchar](20) NULL,
	[PenalidadAplicada] [int] NULL,
	[Observacion] [varchar](100) NULL,
 CONSTRAINT [PK_tbVentas] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbAsesores] ON 

INSERT [dbo].[tbAsesores] ([IdAsesor], [Nombre1], [Nombre2], [Apaterno], [Amaterno], [DNI], [Celular], [FechaRegistro], [FechaUpdate], [FechaDelete], [Observaciones], [Estado]) VALUES (1, N'Luis', N'Miguel', N'Rojas', N'Perez', N'73675582', N'987654321', NULL, CAST(N'2026-04-17T09:29:29.627' AS DateTime), CAST(N'2026-04-22T10:58:28.100' AS DateTime), N'Ninguna', N'A')
INSERT [dbo].[tbAsesores] ([IdAsesor], [Nombre1], [Nombre2], [Apaterno], [Amaterno], [DNI], [Celular], [FechaRegistro], [FechaUpdate], [FechaDelete], [Observaciones], [Estado]) VALUES (2, N'Elian', N'Nop', N'Rojas', N'Montenegro', N'72742440', N'999999999', CAST(N'2026-04-22T10:42:42.723' AS DateTime), NULL, NULL, N'ninguna', N'A')
INSERT [dbo].[tbAsesores] ([IdAsesor], [Nombre1], [Nombre2], [Apaterno], [Amaterno], [DNI], [Celular], [FechaRegistro], [FechaUpdate], [FechaDelete], [Observaciones], [Estado]) VALUES (3, N'Yamilte', N'asd', N'asdas', N'asd', N'96385274', N'963852741', CAST(N'2026-04-28T22:09:16.193' AS DateTime), CAST(N'2026-04-28T22:14:14.457' AS DateTime), CAST(N'2026-04-28T23:13:13.537' AS DateTime), N'ssadsd', N'A')
SET IDENTITY_INSERT [dbo].[tbAsesores] OFF
GO
SET IDENTITY_INSERT [dbo].[tbClientes] ON 

INSERT [dbo].[tbClientes] ([IdCliente], [Nombre1], [Nombre2], [Apaterno], [Amaterno], [DNI], [Celular], [Direccion], [Correo], [FechaRegistro], [FechaUpdate], [FechaDelete], [Observaciones], [Estado]) VALUES (1, N'Juan', N'Carlos', N'Herrera', N'Carrasco', N'61078104', N'941534283', N'jr Kuelap', N'juan@gmail.com', CAST(N'2026-03-31T20:28:01.400' AS DateTime), CAST(N'2026-04-28T21:17:48.263' AS DateTime), CAST(N'2026-04-28T21:12:00.503' AS DateTime), N'', N'A')
INSERT [dbo].[tbClientes] ([IdCliente], [Nombre1], [Nombre2], [Apaterno], [Amaterno], [DNI], [Celular], [Direccion], [Correo], [FechaRegistro], [FechaUpdate], [FechaDelete], [Observaciones], [Estado]) VALUES (2, N'asd', N'asd', N'asd', N'asd', N'96385274', N'963852741', N'asd', N'asd', CAST(N'2026-04-01T05:21:39.573' AS DateTime), CAST(N'2026-04-29T00:44:09.903' AS DateTime), CAST(N'2026-04-28T20:13:27.063' AS DateTime), N'', N'A')
INSERT [dbo].[tbClientes] ([IdCliente], [Nombre1], [Nombre2], [Apaterno], [Amaterno], [DNI], [Celular], [Direccion], [Correo], [FechaRegistro], [FechaUpdate], [FechaDelete], [Observaciones], [Estado]) VALUES (3, N'asd', N'asd', N'asd', N'asd', N'96385274', N'963852741', N'asd', N'asd', CAST(N'2026-04-28T20:37:10.503' AS DateTime), CAST(N'2026-04-29T00:44:09.903' AS DateTime), NULL, N'', N'A')
SET IDENTITY_INSERT [dbo].[tbClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[tbConfiguracionSistema] ON 

INSERT [dbo].[tbConfiguracionSistema] ([IdConfiguracion], [PenalidadPorcentaje], [MoraPorCuota], [MaxMesesRetrasos]) VALUES (1, CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[tbConfiguracionSistema] OFF
GO
SET IDENTITY_INSERT [dbo].[tbCronograma] ON 

INSERT [dbo].[tbCronograma] ([IdCronograma], [IdVenta], [FechaVencimiento], [MontoCuota], [EstadoCuota], [Observacion]) VALUES (22, 1023, CAST(N'2026-04-17' AS Date), CAST(10000.00 AS Decimal(10, 2)), N'Pagado', N'Pago: F001-1 | Mora: 1000.00')
INSERT [dbo].[tbCronograma] ([IdCronograma], [IdVenta], [FechaVencimiento], [MontoCuota], [EstadoCuota], [Observacion]) VALUES (23, 1024, CAST(N'2026-04-16' AS Date), CAST(500.00 AS Decimal(10, 2)), N'Anulado', N'Venta cancelada - Sin derecho a devolución')
INSERT [dbo].[tbCronograma] ([IdCronograma], [IdVenta], [FechaVencimiento], [MontoCuota], [EstadoCuota], [Observacion]) VALUES (24, 1024, CAST(N'2026-04-17' AS Date), CAST(3625.00 AS Decimal(10, 2)), N'Anulado', N'Venta cancelada - Sin derecho a devolución')
SET IDENTITY_INSERT [dbo].[tbCronograma] OFF
GO
SET IDENTITY_INSERT [dbo].[tbDetalleLote] ON 

INSERT [dbo].[tbDetalleLote] ([IdDetalleLote], [IdLote], [IdMedida], [Estado]) VALUES (11, 5, 11, N'A')
INSERT [dbo].[tbDetalleLote] ([IdDetalleLote], [IdLote], [IdMedida], [Estado]) VALUES (12, 5, 12, N'A')
INSERT [dbo].[tbDetalleLote] ([IdDetalleLote], [IdLote], [IdMedida], [Estado]) VALUES (13, 6, 13, N'A')
SET IDENTITY_INSERT [dbo].[tbDetalleLote] OFF
GO
SET IDENTITY_INSERT [dbo].[tbHistorialEstadoLote] ON 

INSERT [dbo].[tbHistorialEstadoLote] ([IdHistorial], [IdLote], [EstadoAnterior], [EstadoNuevo], [FechaCambio], [Motivo]) VALUES (5, 6, N'Al Dia', N'Retrasado', CAST(N'2026-04-17T23:26:47.113' AS DateTime), N'Corte Diario: 1 cuotas vencidas.')
INSERT [dbo].[tbHistorialEstadoLote] ([IdHistorial], [IdLote], [EstadoAnterior], [EstadoNuevo], [FechaCambio], [Motivo]) VALUES (6, 5, N'Al Dia', N'Retrasado', CAST(N'2026-04-18T22:14:33.113' AS DateTime), N'Corte Diario: 1 cuotas vencidas.')
INSERT [dbo].[tbHistorialEstadoLote] ([IdHistorial], [IdLote], [EstadoAnterior], [EstadoNuevo], [FechaCambio], [Motivo]) VALUES (7, 6, N'Retrasado', N'EnDeuda', CAST(N'2026-04-18T22:20:16.880' AS DateTime), N'Corte Diario: 3 cuotas vencidas.')
SET IDENTITY_INSERT [dbo].[tbHistorialEstadoLote] OFF
GO
SET IDENTITY_INSERT [dbo].[tbLotes] ON 

INSERT [dbo].[tbLotes] ([IdLote], [IdProyecto], [CodigoLote], [Ubicacion], [NumeroLote], [Manzana], [Precio], [Descripcion], [ImagenUrl], [EstadoLote], [FechaRegistro]) VALUES (5, 14, N'A1', N'Jr.Kuelap', N'1', N'1', CAST(10000.00 AS Decimal(18, 2)), N'Lote1', N'lote1.jpg', N'Vendido', CAST(N'2026-04-17T09:39:43.260' AS DateTime))
INSERT [dbo].[tbLotes] ([IdLote], [IdProyecto], [CodigoLote], [Ubicacion], [NumeroLote], [Manzana], [Precio], [Descripcion], [ImagenUrl], [EstadoLote], [FechaRegistro]) VALUES (6, 14, N'A2', N'Jr.Kuelap', N'2', N'2', CAST(15000.00 AS Decimal(18, 2)), N'ninguna', N'lote2.jpg', N'En Deuda', CAST(N'2026-04-17T22:50:51.870' AS DateTime))
INSERT [dbo].[tbLotes] ([IdLote], [IdProyecto], [CodigoLote], [Ubicacion], [NumeroLote], [Manzana], [Precio], [Descripcion], [ImagenUrl], [EstadoLote], [FechaRegistro]) VALUES (7, 14, N'A3', N'jr kuelap', N'10', N'12', CAST(20000.00 AS Decimal(18, 2)), N'ninguna', N'lote12.jpg', N'Al Dia', CAST(N'2026-04-21T18:04:02.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbLotes] OFF
GO
SET IDENTITY_INSERT [dbo].[tbMedidas] ON 

INSERT [dbo].[tbMedidas] ([IdMedida], [Izquierda], [Derecha], [Frente], [Fondo], [Perimetro], [TamañoM2], [Estado]) VALUES (11, CAST(10.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(38.00 AS Decimal(10, 2)), CAST(75.00 AS Decimal(10, 2)), N'A')
INSERT [dbo].[tbMedidas] ([IdMedida], [Izquierda], [Derecha], [Frente], [Fondo], [Perimetro], [TamañoM2], [Estado]) VALUES (12, NULL, CAST(8.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[tbMedidas] ([IdMedida], [Izquierda], [Derecha], [Frente], [Fondo], [Perimetro], [TamañoM2], [Estado]) VALUES (13, CAST(11.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), N'A')
SET IDENTITY_INSERT [dbo].[tbMedidas] OFF
GO
SET IDENTITY_INSERT [dbo].[tbPagos] ON 

INSERT [dbo].[tbPagos] ([IdPago], [IdVenta], [IdCronograma], [IdTipoComprobante], [Serie], [Numero], [FechaPago], [Monto], [NumeroCuota], [MoraPorCuota], [EstadoPago]) VALUES (20, 1023, 22, 2, N'F001', 1, CAST(N'2026-04-18T22:53:31.920' AS DateTime), CAST(11000.00 AS Decimal(18, 2)), 1, CAST(10.00 AS Decimal(18, 2)), N'Retrasado')
INSERT [dbo].[tbPagos] ([IdPago], [IdVenta], [IdCronograma], [IdTipoComprobante], [Serie], [Numero], [FechaPago], [Monto], [NumeroCuota], [MoraPorCuota], [EstadoPago]) VALUES (23, 1030, 71, 1, N'B001', 10, CAST(N'2026-05-06T05:07:10.080' AS DateTime), CAST(5500.00 AS Decimal(18, 2)), 1, CAST(10.00 AS Decimal(18, 2)), N'Retrasado')
INSERT [dbo].[tbPagos] ([IdPago], [IdVenta], [IdCronograma], [IdTipoComprobante], [Serie], [Numero], [FechaPago], [Monto], [NumeroCuota], [MoraPorCuota], [EstadoPago]) VALUES (28, 1030, 72, 1, N'B001', 11, CAST(N'2026-05-06T05:59:01.760' AS DateTime), CAST(2500.00 AS Decimal(18, 2)), 2, CAST(10.00 AS Decimal(18, 2)), N'Al Dia')
SET IDENTITY_INSERT [dbo].[tbPagos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbProyectos] ON 

INSERT [dbo].[tbProyectos] ([IdProyecto], [CodProyecto], [Nombre], [Ubicacion], [NumeroHectareas], [PartidaRegistral], [ImagenUrl], [FechaRegistro], [FechaUpdate], [FechaDelete], [Estado]) VALUES (12, N'Paola', N'Paola', N'Paola', N'15', N'Paola', NULL, CAST(N'2026-04-27T21:07:44.070' AS DateTime), CAST(N'2026-04-29T00:40:23.960' AS DateTime), CAST(N'2026-04-29T12:09:47.563' AS DateTime), N'X')
INSERT [dbo].[tbProyectos] ([IdProyecto], [CodProyecto], [Nombre], [Ubicacion], [NumeroHectareas], [PartidaRegistral], [ImagenUrl], [FechaRegistro], [FechaUpdate], [FechaDelete], [Estado]) VALUES (14, N'P1', N'Paraiso', N'Jr. Cumba', N'15', N'12345', N'/uploads/planos/f3f6b7fe-02c1-4048-b1e4-4e24fe570224.csv', CAST(N'2026-04-29T01:05:15.567' AS DateTime), CAST(N'2026-04-29T06:07:58.360' AS DateTime), NULL, N'A')
INSERT [dbo].[tbProyectos] ([IdProyecto], [CodProyecto], [Nombre], [Ubicacion], [NumeroHectareas], [PartidaRegistral], [ImagenUrl], [FechaRegistro], [FechaUpdate], [FechaDelete], [Estado]) VALUES (15, N'RSF', N'Residencial Santa Fe', N'Moreria Alta', N'2', N'245267', N'/uploads/planos/78cd9c60-3ab2-468c-bcfc-a2e15ca383cb.csv', CAST(N'2026-04-29T08:26:18.543' AS DateTime), CAST(N'2026-04-29T08:27:18.840' AS DateTime), NULL, N'A')
SET IDENTITY_INSERT [dbo].[tbProyectos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTipo] ON 

INSERT [dbo].[tbTipo] ([IdTipo], [Descripcion], [Grupo]) VALUES (1, N'Contado', 1)
INSERT [dbo].[tbTipo] ([IdTipo], [Descripcion], [Grupo]) VALUES (2, N'Financiado', 1)
INSERT [dbo].[tbTipo] ([IdTipo], [Descripcion], [Grupo]) VALUES (3, N'Gerente', 2)
SET IDENTITY_INSERT [dbo].[tbTipo] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTipoComprobante] ON 

INSERT [dbo].[tbTipoComprobante] ([IdTipoComprobante], [Nombre], [Serie], [Numero], [Estado]) VALUES (1, N'Boleta', N'B001', 12, N'A')
INSERT [dbo].[tbTipoComprobante] ([IdTipoComprobante], [Nombre], [Serie], [Numero], [Estado]) VALUES (2, N'Factura', N'F001', 3, N'A')
INSERT [dbo].[tbTipoComprobante] ([IdTipoComprobante], [Nombre], [Serie], [Numero], [Estado]) VALUES (3, N'Ticket', N'T001', 0, N'A')
SET IDENTITY_INSERT [dbo].[tbTipoComprobante] OFF
GO
SET IDENTITY_INSERT [dbo].[tbUsuarios] ON 

INSERT [dbo].[tbUsuarios] ([IdUsuario], [Nombre], [Correo], [Contraseña], [TipoUsuario], [Celular], [FechaRegisstro], [FechaUpdate], [FechaDelete], [Estado]) VALUES (1, N'Admin', N'Admin@gmail.com', N'1234', N'Gerente', N'963852741', CAST(N'2026-03-30T22:26:06.260' AS DateTime), CAST(N'2026-04-12T17:48:21.370' AS DateTime), CAST(N'2026-05-05T21:20:34.193' AS DateTime), N'A')
INSERT [dbo].[tbUsuarios] ([IdUsuario], [Nombre], [Correo], [Contraseña], [TipoUsuario], [Celular], [FechaRegisstro], [FechaUpdate], [FechaDelete], [Estado]) VALUES (2, N'JuanC', N'Juan@gmail.com', N'123', N'Cliente', N'941534283', CAST(N'2026-03-30T22:27:02.250' AS DateTime), NULL, NULL, N'A')
INSERT [dbo].[tbUsuarios] ([IdUsuario], [Nombre], [Correo], [Contraseña], [TipoUsuario], [Celular], [FechaRegisstro], [FechaUpdate], [FechaDelete], [Estado]) VALUES (3, N'Carlos', N'car@gmail.com', N'456', N'Cliente', N'987654321', CAST(N'2026-04-24T09:08:34.497' AS DateTime), NULL, NULL, N'A')
SET IDENTITY_INSERT [dbo].[tbUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[tbVentas] ON 

INSERT [dbo].[tbVentas] ([IdVenta], [IdLote], [IdUsuario], [IdCliente], [IdAsesor], [FechaVenta], [PrecioVenta], [TipoVenta], [TipoPago], [MontoInicial], [PlazoMeses], [Estadoventa], [PenalidadAplicada], [Observacion]) VALUES (1023, 5, 1, 1, 1, CAST(N'2026-04-17T00:00:00.000' AS DateTime), CAST(10000.00 AS Decimal(18, 2)), N'Contado', N'Contado', CAST(10000.00 AS Decimal(18, 2)), 0, N'Cancelada', 0, N'ninguna | CANCELACIÓN SIN DEVOLUCIÓN: prueba | MONTO RETENIDO (PAGADO HASTA LA FECHA): 11000.00')
INSERT [dbo].[tbVentas] ([IdVenta], [IdLote], [IdUsuario], [IdCliente], [IdAsesor], [FechaVenta], [PrecioVenta], [TipoVenta], [TipoPago], [MontoInicial], [PlazoMeses], [Estadoventa], [PenalidadAplicada], [Observacion]) VALUES (1024, 6, 1, 1, 1, CAST(N'2026-04-17T00:00:00.000' AS DateTime), CAST(15000.00 AS Decimal(18, 2)), N'Financiado', N'Trimestral', CAST(500.00 AS Decimal(18, 2)), 12, N'Cancelada', 0, N'ninguna | CANCELACIÓN SIN DEVOLUCIÓN: d | MONTO RETENIDO (PAGADO HASTA LA FECHA): 0.00')
INSERT [dbo].[tbVentas] ([IdVenta], [IdLote], [IdUsuario], [IdCliente], [IdAsesor], [FechaVenta], [PrecioVenta], [TipoVenta], [TipoPago], [MontoInicial], [PlazoMeses], [Estadoventa], [PenalidadAplicada], [Observacion]) VALUES (1025, 5, 1, 1, 1, CAST(N'2026-04-19T00:00:00.000' AS DateTime), CAST(10000.00 AS Decimal(18, 2)), N'Contado', N'Contado', CAST(10000.00 AS Decimal(18, 2)), 0, N'Cancelada', 10, N'ninguna | CANCELACIÓN SIN DEVOLUCIÓN: a | MONTO RETENIDO (PAGADO HASTA LA FECHA): 0.00')
SET IDENTITY_INSERT [dbo].[tbVentas] OFF
GO
ALTER TABLE [dbo].[tbAsesores] ADD  CONSTRAINT [DF_tbAsesores_Estado]  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[tbClientes] ADD  CONSTRAINT [DF_tbClientes_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[tbClientes] ADD  CONSTRAINT [DF_tbClientes_Estado]  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[tbDetalleLote] ADD  CONSTRAINT [DF_tbDetalleLote_Estado]  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[tbHistorialEstadoLote] ADD  CONSTRAINT [DF_tbHistorialEstadoLote_FechaCambio]  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[tbLotes] ADD  CONSTRAINT [DF_tbLotes_EstadoLote]  DEFAULT ('Libre') FOR [EstadoLote]
GO
ALTER TABLE [dbo].[tbLotes] ADD  CONSTRAINT [DF_tbLotes_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[tbMedidas] ADD  CONSTRAINT [DF_tbMedidas_Estado]  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[tbNotificaciones] ADD  CONSTRAINT [DF_tbNotificaciones_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[tbNotificaciones] ADD  CONSTRAINT [DF_tbNotificaciones_leida]  DEFAULT ('N') FOR [leida]
GO
ALTER TABLE [dbo].[tbPagos] ADD  CONSTRAINT [DF_tbPagos_FechaPago]  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[tbPagos] ADD  CONSTRAINT [DF_tbPagos_EstadoPago]  DEFAULT ('Verde') FOR [EstadoPago]
GO
ALTER TABLE [dbo].[tbProyectos] ADD  CONSTRAINT [DF_tbProyectos_Estado]  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[tbTipoComprobante] ADD  CONSTRAINT [DF_tbTipoComprobante_Estado]  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  CONSTRAINT [DF_tbUsuarios_TipoUsuario]  DEFAULT ('Cliente') FOR [TipoUsuario]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  CONSTRAINT [DF_tbUsuarios_FechaRegisstro]  DEFAULT (getdate()) FOR [FechaRegisstro]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  CONSTRAINT [DF_tbUsuarios_Estado]  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[tbVentas] ADD  CONSTRAINT [DF_tbVentas_FechaVenta]  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[tbVentas] ADD  CONSTRAINT [DF_tbVentas_Estadoventa]  DEFAULT ('Activa') FOR [Estadoventa]
GO
ALTER TABLE [dbo].[tbVentas] ADD  CONSTRAINT [DF_tbVentas_PenalidadAplicada]  DEFAULT ((0.1)) FOR [PenalidadAplicada]
GO
ALTER TABLE [dbo].[tbCronograma]  WITH CHECK ADD  CONSTRAINT [FK_tbCronograma_tbVentas] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[tbVentas] ([IdVenta])
GO
ALTER TABLE [dbo].[tbCronograma] CHECK CONSTRAINT [FK_tbCronograma_tbVentas]
GO
ALTER TABLE [dbo].[tbDetalleLote]  WITH CHECK ADD  CONSTRAINT [FK_tbDetalleLote_tbLotes] FOREIGN KEY([IdLote])
REFERENCES [dbo].[tbLotes] ([IdLote])
GO
ALTER TABLE [dbo].[tbDetalleLote] CHECK CONSTRAINT [FK_tbDetalleLote_tbLotes]
GO
ALTER TABLE [dbo].[tbDetalleLote]  WITH CHECK ADD  CONSTRAINT [FK_tbDetalleLote_tbMedidas] FOREIGN KEY([IdMedida])
REFERENCES [dbo].[tbMedidas] ([IdMedida])
GO
ALTER TABLE [dbo].[tbDetalleLote] CHECK CONSTRAINT [FK_tbDetalleLote_tbMedidas]
GO
ALTER TABLE [dbo].[tbHistorialEstadoLote]  WITH CHECK ADD  CONSTRAINT [FK_tbHistorialEstadoLote_tbLotes] FOREIGN KEY([IdLote])
REFERENCES [dbo].[tbLotes] ([IdLote])
GO
ALTER TABLE [dbo].[tbHistorialEstadoLote] CHECK CONSTRAINT [FK_tbHistorialEstadoLote_tbLotes]
GO
ALTER TABLE [dbo].[tbLotes]  WITH CHECK ADD  CONSTRAINT [FK_tbLotes_tbProyectos] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[tbProyectos] ([IdProyecto])
GO
ALTER TABLE [dbo].[tbLotes] CHECK CONSTRAINT [FK_tbLotes_tbProyectos]
GO
ALTER TABLE [dbo].[tbNotificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbNotificaciones_tbClientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[tbClientes] ([IdCliente])
GO
ALTER TABLE [dbo].[tbNotificaciones] CHECK CONSTRAINT [FK_tbNotificaciones_tbClientes]
GO
ALTER TABLE [dbo].[tbPagos]  WITH CHECK ADD  CONSTRAINT [FK_tbPagos_tbCronograma1] FOREIGN KEY([IdCronograma])
REFERENCES [dbo].[tbCronograma] ([IdCronograma])
GO
ALTER TABLE [dbo].[tbPagos] CHECK CONSTRAINT [FK_tbPagos_tbCronograma1]
GO
ALTER TABLE [dbo].[tbPagos]  WITH CHECK ADD  CONSTRAINT [FK_tbPagos_tbTipoComprobante] FOREIGN KEY([IdTipoComprobante])
REFERENCES [dbo].[tbTipoComprobante] ([IdTipoComprobante])
GO
ALTER TABLE [dbo].[tbPagos] CHECK CONSTRAINT [FK_tbPagos_tbTipoComprobante]
GO
ALTER TABLE [dbo].[tbPagos]  WITH CHECK ADD  CONSTRAINT [FK_tbPagos_tbVentas] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[tbVentas] ([IdVenta])
GO
ALTER TABLE [dbo].[tbPagos] CHECK CONSTRAINT [FK_tbPagos_tbVentas]
GO
ALTER TABLE [dbo].[tbVentas]  WITH CHECK ADD  CONSTRAINT [FK_tbVentas_tbAsesores] FOREIGN KEY([IdAsesor])
REFERENCES [dbo].[tbAsesores] ([IdAsesor])
GO
ALTER TABLE [dbo].[tbVentas] CHECK CONSTRAINT [FK_tbVentas_tbAsesores]
GO
ALTER TABLE [dbo].[tbVentas]  WITH CHECK ADD  CONSTRAINT [FK_tbVentas_tbClientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[tbClientes] ([IdCliente])
GO
ALTER TABLE [dbo].[tbVentas] CHECK CONSTRAINT [FK_tbVentas_tbClientes]
GO
ALTER TABLE [dbo].[tbVentas]  WITH CHECK ADD  CONSTRAINT [FK_tbVentas_tbLotes] FOREIGN KEY([IdLote])
REFERENCES [dbo].[tbLotes] ([IdLote])
GO
ALTER TABLE [dbo].[tbVentas] CHECK CONSTRAINT [FK_tbVentas_tbLotes]
GO
ALTER TABLE [dbo].[tbVentas]  WITH CHECK ADD  CONSTRAINT [FK_tbVentas_tbUsuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[tbUsuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[tbVentas] CHECK CONSTRAINT [FK_tbVentas_tbUsuarios]
GO
/****** Object:  StoredProcedure [dbo].[asesor_Anular_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asesor_Anular_pa]
@dni varchar(8)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @estado varchar(8)
	SELECT @estado=Estado FROM tbAsesores WHERE DNI=@dni
	IF @estado='A'
		UPDATE tbAsesores SET Estado='X', FechaDelete=GETDATE() WHERE DNI=@dni
	ELSE
		UPDATE tbAsesores SET Estado='A' WHERE DNI=@dni
END 
GO
/****** Object:  StoredProcedure [dbo].[asesor_ClientesAsignados_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asesor_ClientesAsignados_pa]
@dni varchar(8)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
	C.Nombre1,
	C.Nombre2,
	C.Apaterno,
	C.Amaterno,
	C.DNI,
	C.Celular,
	C.Direccion,
	C.Correo,
	C.Observaciones,
	A.IdAsesor,
	(A.Nombre1+' '+A.Apaterno) AS NombreAsesor
	FROM tbClientes AS C
	INNER JOIN tbVentas AS V ON C.IdCliente=V.IdCliente
	INNER JOIN tbAsesores AS A ON V.IdAsesor=A.IdAsesor
	where A.DNI=@dni
	
END 
GO
/****** Object:  StoredProcedure [dbo].[asesor_Listar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asesor_Listar_pa]

AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
		IdAsesor,
		Nombre1,
		Nombre2,
		Apaterno,
		Amaterno,
		DNI,
		Celular,
		FechaRegistro,
		FechaUpdate,
		FechaDelete,
		Observaciones,
		Estado
	FROM tbAsesores
END
GO
/****** Object:  StoredProcedure [dbo].[asesor_ListarPorDNI_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asesor_ListarPorDNI_pa]
@dni varchar(8)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
	DNI,
	Nombre1,
	Nombre2,
	Apaterno,
	Amaterno,
	Celular,
	FechaRegistro,
	FechaUpdate,
	FechaDelete,
	Observaciones,
	Estado
	FROM tbAsesores
	WHERE DNI=@dni
END 
GO
/****** Object:  StoredProcedure [dbo].[asesor_Modificar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asesor_Modificar_pa]
@dni varchar(8),	
@nom1 varchar(25),
@nom2 varchar(25),
@apaterno varchar(25),
@amaterno varchar(25),

@celular varchar(9),
@observaciones varchar(150)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE tbAsesores
	SET
	Nombre1=@nom1,
	Nombre2=@nom2,
	Apaterno=@apaterno,
	Amaterno=@amaterno,	
	Celular=@celular,
	FechaUpdate=GETDATE(),
	Observaciones=@observaciones
	
	WHERE DNI=@dni
END
GO
/****** Object:  StoredProcedure [dbo].[asesor_Registrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asesor_Registrar_pa]
@nom1 varchar(25),
@nom2 varchar(25),
@apaterno varchar(25),
@amaterno varchar(25),
@dni varchar(8),
@celular varchar(9),
@observaciones varchar(150)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO tbAsesores
	(Nombre1,Nombre2,Apaterno,Amaterno,DNI,Celular,FechaRegistro, Observaciones)
	VALUES
	(@nom1,@nom2,@apaterno,@amaterno,@dni,@celular,GETDATE(), @observaciones)

END
GO
/****** Object:  StoredProcedure [dbo].[cliente_Actualizar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_Actualizar_pa]
@dni varchar(8),
@nom1 varchar(25),
@nom2 varchar(25)=NULL,
@apat varchar(25),
@amat varchar(25),
@cel varchar(9),
@direc varchar(50),
@correo varchar(50),
@observaciones varchar(150)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE tbClientes
	SET 
	Nombre1=@nom1,
	Nombre2=@nom2 ,
	Apaterno=@apat,
	Amaterno=@amat,
	Celular=@cel,
	Direccion=@direc,
	Correo=@correo,
	FechaUpdate=GETDATE(),
	Observaciones=@observaciones
	WHERE
	DNI=@dni
END
GO
/****** Object:  StoredProcedure [dbo].[cliente_Anular_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_Anular_pa]
@dni varchar(8)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @estado char(1)
	SELECT @estado=Estado FROM tbClientes WHERE DNI=@dni
	IF @estado='A'
		UPDATE tbClientes 
		SET 
		Estado='X' ,
		FechaDelete=GETDATE()

		WHERE DNI=@dni
	ELSE
		UPDATE tbClientes SET Estado='A' WHERE DNI=@dni

END
GO
/****** Object:  StoredProcedure [dbo].[cliente_ClientesEnDeusa_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_ClientesEnDeusa_pa]
 @IdCliente INT 
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.Nombre1 + ' ' + C.Apaterno AS Cliente, 
        C.Celular, 
        L.CodigoLote, 
        L.Manzana, 
        L.NumeroLote,
        L.EstadoLote, -- Es útil ver si está en 'Retrasado' o 'Mora Critica'
        Calculo.CuotasVencidas AS MesesAtrasados,
        Calculo.MontoDeuda
    FROM tbVentas V
    INNER JOIN tbClientes C ON V.IdCliente = C.IdCliente
    INNER JOIN tbLotes L ON V.IdLote = L.IdLote
    CROSS APPLY (
        -- Contamos directamente las cuotas del cronograma que están en mora
        SELECT 
            COUNT(*) AS CuotasVencidas,
            ISNULL(SUM(MontoCuota), 0) AS MontoDeuda
        FROM tbCronograma 
        WHERE IdVenta = V.IdVenta 
          AND FechaVencimiento <= GETDATE() 
          AND EstadoCuota <> 'Pagado'
    ) AS Calculo
    WHERE V.EstadoVenta = 'Activo' 
      AND (V.IdCliente = @IdCliente OR @IdCliente IS NULL) -- Opcional: permite ver todos si envías NULL
      AND Calculo.CuotasVencidas > 0; -- Solo los que deben
END
GO
/****** Object:  StoredProcedure [dbo].[cliente_HistorialPagos_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_HistorialPagos_pa]
    @idCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
      
        (Nombre1+ ' ' +Apaterno) AS Cliente,
        P.IdPago,
        L.CodigoLote,
        L.NumeroLote,
        L.Manzana,
        P.NumeroCuota,
        P.Monto,
        P.FechaPago,
        P.EstadoPago -- Ejemplo: 'CANCELADO'
        
    FROM tbClientes C
    INNER JOIN tbVentas V ON C.IdCliente = V.IdCliente
    INNER JOIN tbLotes L ON V.IdLote = L.IdLote
    INNER JOIN tbPagos P ON P.IdVenta = V.IdVenta
    WHERE C.IdCliente = @idCliente
    ORDER BY P.FechaPago DESC; -- Los más recientes primero
END
GO
/****** Object:  StoredProcedure [dbo].[cliente_Listar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_Listar_pa]

AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
	IdCliente,
	
	Nombre1,
	Nombre2,
	Apaterno,
	Amaterno,
	DNI,
	Celular,
	Direccion,
	Correo,
	FechaRegistro,
	FechaUpdate,
	FechaDelete,
	Estado
	FROM tbClientes

END
GO
/****** Object:  StoredProcedure [dbo].[cliente_LotesAdquiridos_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_LotesAdquiridos_pa]
    @idCliente INT -- Filtro para que el usuario vea SOLO sus lotes
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        C.IdCliente,
       
        C.DNI,
        C.Nombre1 + ' ' + C.Apaterno AS Propietario,
        V.IdVenta, 
        L.CodigoLote,
        L.Ubicacion,
        L.NumeroLote,
        L.Manzana,
        V.PrecioVenta, -- Precio pactado en la venta
        V.EstadoVenta, -- Para saber si está 'Activa', 'Finalizada' o 'Cancelada'
        L.EstadoLote   -- Para saber si está 'Al Dia', 'EnDeuda', etc.
    FROM tbClientes AS C
    INNER JOIN tbVentas AS V ON V.IdCliente = C.IdCliente 
    INNER JOIN tbLotes AS L ON L.IdLote = V.IdLote
    WHERE C.IdCliente = @idCliente 
      AND V.EstadoVenta <> 'Cancelada' -- No mostrar lo que ya se le quitó
    ORDER BY V.FechaVenta DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[cliente_ObtenerPorDNI_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_ObtenerPorDNI_pa]
@dni varchar(8)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
	IdCliente,

	Nombre1,
	Nombre2,
	Apaterno,
	Amaterno,
	DNI,
	Celular,
	Direccion,
	Correo,
	FechaRegistro,
	FechaUpdate,
	FechaDelete,
	Estado
	FROM tbClientes
	WHERE DNI=@dni

END
GO
/****** Object:  StoredProcedure [dbo].[cliente_Registrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cliente_Registrar_pa]

@nom1 varchar(25),
@nom2 varchar(25),
@apat varchar(25),
@amat varchar(25),
@dni varchar(8),
@cel varchar(9),
@direc varchar(50),
@correo varchar(50),
@observaciones varchar(150)

AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO tbClientes (Nombre1,Nombre2,Apaterno,Amaterno,DNI,Celular,Direccion,Correo,Observaciones)
	VALUES (@nom1,@nom2,@apat,@amat,@dni,@cel,@direc,@correo,@observaciones);
END
GO
/****** Object:  StoredProcedure [dbo].[configuracion_Actualizar]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[configuracion_Actualizar]
@idconfiguracion int,
@penalidadporcentaje decimal(18,2),
@moraporcuota decimal(18,2),
@masxmesesretrasos int
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE tbConfiguracionSistema
	SET
	PenalidadPorcentaje=@penalidadporcentaje,
	MoraPorCuota=@moraporcuota,
	MaxMesesRetrasos=@masxmesesretrasos
	WHERE IdConfiguracion=@idconfiguracion

END
GO
/****** Object:  StoredProcedure [dbo].[configuracion_ComboTipoPago_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[configuracion_ComboTipoPago_pa]
AS
BEGIN
	SELECT IdConfiguracion AS Codigo,Descripcion FROM tbConfiguracionSistema
	WHERE Grupo=2 ORDER BY 2
END
GO
/****** Object:  StoredProcedure [dbo].[configuracion_ComboTipoUsuario_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[configuracion_ComboTipoUsuario_pa]
AS
BEGIN
	SELECT IdConfiguracion AS Codigo,Descripcion FROM tbConfiguracionSistema
	WHERE Grupo=3 ORDER BY 2
END
GO
/****** Object:  StoredProcedure [dbo].[configuracion_Mora_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[configuracion_Mora_pa]
AS
BEGIN
	SELECT IdConfiguracion AS Codigo,Descripcion FROM tbConfiguracionSistema
	WHERE GRUPO=1 ORDER BY 2
END
GO
/****** Object:  StoredProcedure [dbo].[cronograma_ListarPorVenta_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cronograma_ListarPorVenta_pa]
@idUsuario int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
	C.IdCronograma,
	C.IdVenta,
	C.FechaVencimiento,
	C.MontoCuota,
	C.EstadoCuota,
	C.Observacion
	FROM tbCronograma as C
	INNER JOIN tbVentas AS V ON V.IdVenta=C.IdVenta
	WHERE V.IdUsuario = @idUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[dashboard_ResumenGeneral_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dashboard_ResumenGeneral_pa]
AS
BEGIN
    SET NOCOUNT ON;

    -- Variables para el resumen
    DECLARE @TotalLotes INT, @TotalVendidos INT, @TotalClientes INT, @TotalEnDeuda INT;
    DECLARE @IngresosTotales DECIMAL(18,2), @CapitalEnMora DECIMAL(18,2), @CarteraPorCobrar DECIMAL(18,2);

    -- 1. Métricas de Inventario y Clientes
    SELECT @TotalLotes = COUNT(*) FROM tbLotes;
    SELECT @TotalVendidos = COUNT(*) FROM tbLotes WHERE EstadoLote <> 'Libre';
    SELECT @TotalClientes = COUNT(*) FROM tbClientes;

    -- 2. Métricas de Dinero Real (Recaudado)
    -- Suma de Pagos + Penalidades de ventas canceladas
    DECLARE @Pagos DECIMAL(18,2) = (SELECT ISNULL(SUM(Monto), 0) FROM tbPagos);
    DECLARE @Penalidades DECIMAL(18,2) = (
        SELECT ISNULL(SUM(PrecioVenta * (PenalidadAplicada / 100.0)), 0) 
        FROM tbVentas WHERE EstadoVenta = 'Cancelada'
    );
    SET @IngresosTotales = CAST(ROUND(@Pagos + @Penalidades, 2) AS DECIMAL(18,2));

    -- 3. Capital en Mora (Dinero que ya venció y no se ha pagado)
    SELECT @CapitalEnMora = CAST(ISNULL(SUM(MontoCuota), 0) AS DECIMAL(18,2))
    FROM tbCronograma 
    WHERE EstadoCuota IN ('Pendiente', 'Vencido') 
      AND FechaVencimiento < CAST(GETDATE() AS DATE);

    -- 4. Cartera Total por Cobrar (Todo lo que falta cobrar a futuro de las ventas activas)
    SELECT @CarteraPorCobrar = CAST(ISNULL(SUM(MontoCuota), 0) AS DECIMAL(18,2))
    FROM tbCronograma 
    WHERE EstadoCuota IN ('Pendiente', 'Vencido');

    -- 5. Conteo de clientes con problemas de pago
    SELECT @TotalEnDeuda = COUNT(DISTINCT IdVenta) 
    FROM tbCronograma 
    WHERE EstadoCuota IN ('Pendiente', 'Vencido') 
      AND FechaVencimiento < CAST(GETDATE() AS DATE);

    -- RESULTADO FINAL
    SELECT 
        @TotalLotes AS TotalLotes,
        @TotalVendidos AS TotalVendidos,
        CAST((@TotalVendidos * 100.0 / @TotalLotes) AS DECIMAL(5,2)) AS PorcentajeOcupacion,
        @TotalClientes AS TotalClientes,
        @IngresosTotales AS RecaudadoHistorico,
        @CapitalEnMora AS DineroVencidoHoy, -- Lo que urge cobrar
        @CarteraPorCobrar AS CarteraTotalFutura, -- El valor real del negocio por cobrar
        @TotalEnDeuda AS CantidadDeudores;
END
GO
/****** Object:  StoredProcedure [dbo].[lote_Actualizar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_Actualizar_pa]
@idlote int,
@idproyecto int,
@codlote varchar(25),
@ubicacion varchar(50),

@frenteStr varchar(max),
@fondoStr varchar(max),
@derechaStr varchar(max),
@izquierdaStr varchar(max),
@perimetro decimal(10,2),
@tamañosM2 decimal(10,2),

@numlote varchar(20),
@manzana varchar(20),
@precio decimal(18,2),
@descrip varchar(200),
@imgurl varchar(100)
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	BEGIN TRY
		--//////actualizamos la informacion basica en tbLotes
		UPDATE tbLotes
		SET
		IdProyecto=@idproyecto,
		CodigoLote=@codlote,
		Ubicacion=@ubicacion,
		NumeroLote=@numlote,	
		Manzana=@manzana,
		Precio=@precio,
		Descripcion=@descrip,	
		ImagenUrl=@imgurl
		WHERE IdLote=@idlote

		DECLARE @IdsViejos TABLE (IdMedida int);
		INSERT INTO @IdsViejos SELECT IdMedida FROM tbDetalleLote WHERE IdLote=@idlote;

		DELETE FROM tbDetalleLote WHERE IdLote=@idlote;
		DELETE FROM tbMedidas WHERE IdMedida IN (SELECT IdMedida FROM @IdsViejos);

		DECLARE @IdsMedidasNuevas TABLE (IdMedida int);

		
		INSERT INTO tbMedidas (Frente, Fondo, Derecha, izquierda, Perimetro, TamañoM2)
		OUTPUT inserted.IdMedida INTO @IdsMedidasNuevas (IdMedida)
		SELECT
			ISNULL(CAST(TRIM(f.val)AS decimal(10,2)), NULL),
			ISNULL(CAST(TRIM(fo.val)AS decimal(10,2)), NULL),
			ISNULL(CAST(TRIM(d.val)AS decimal(10,2)), NULL),
			ISNULL(CAST(TRIM(i.val)AS decimal(10,2)), NULL),
			CASE WHEN COALESCE(f.fila, fo.fila, d.fila, i.fila) = 1 THEN @perimetro ELSE NULL END,
			CASE WHEN COALESCE(f.fila, fo.fila, d.fila, i.fila) = 1 THEN @tamañosM2 ELSE NULL END
		FROM (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY(SELECT NULL)) AS fila FROM STRING_SPLIT(@frenteStr, '+')) f
		FULL JOIN (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS fila FROM STRING_SPLIT( @fondoStr, '+'))fo  ON f.fila = fo.fila
		FULL JOIN (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS fila FROM STRING_SPLIT( @derechaStr, '+'))d  ON COALESCE(f.fila, fo.fila ) = d.fila
		FULL JOIN (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS fila FROM STRING_SPLIT( @izquierdaStr, '+'))i  ON COALESCE(f.fila, fo.fila, d.fila) = i.fila;


		INSERT INTO tbDetalleLote(IdLote, IdMedida)
		SELECT @idlote, IdMedida
		FROM @IdsMedidasNuevas;

		COMMIT TRANSACTION;
		PRINT 'Proceso Exitoso'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		THROW;
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[lote_ActualizarEstadoMasivo_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_ActualizarEstadoMasivo_pa]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. ACTUALIZAR EL ESTADO DE LAS CUOTAS EN EL CRONOGRAMA
    -- Marcamos como 'Vencido' lo que ya pasó de fecha y no está pagado
    UPDATE tbCronograma
    SET EstadoCuota = 'Vencido'
    WHERE FechaVencimiento < CAST(GETDATE() AS DATE) 
      AND EstadoCuota = 'Pendiente';

    -- 2. CALCULAR RETRASOS PARA ACTUALIZAR LOTES
    SELECT 
        V.IdLote,
        L.EstadoLote AS EstadoAnterior,
        Calculo.Retraso,
        CASE 
            WHEN Calculo.Retraso <= 0 THEN CAST('Al Dia' AS VARCHAR(30))
            WHEN Calculo.Retraso BETWEEN 1 AND 2 THEN CAST('Retrasado' AS VARCHAR(30))
            WHEN Calculo.Retraso = 3 THEN CAST('EnDeuda' AS VARCHAR(30))
            ELSE CAST('Mora Critica' AS VARCHAR(30))
        END AS EstadoNuevo
    INTO #Saldos
    FROM tbVentas AS V
    INNER JOIN tbLotes L ON V.IdLote = L.IdLote
    CROSS APPLY (
        SELECT (SELECT COUNT(*) FROM tbCronograma C 
                WHERE C.IdVenta = V.IdVenta 
                AND C.FechaVencimiento < CAST(GETDATE() AS DATE) -- Solo vencidas ayer o antes
                AND C.EstadoCuota <> 'Pagado') -- Cuotas que no se han pagado
        AS Retraso
    ) AS Calculo
    WHERE V.EstadoVenta = 'Activo';

    -- 3. INSERTAR EN HISTORIAL (Solo si cambió el estado)
    INSERT INTO tbHistorialEstadoLote (IdLote, EstadoAnterior, EstadoNuevo, FechaCambio, Motivo)
    SELECT IdLote, EstadoAnterior, EstadoNuevo, GETDATE(), 'Corte Diario: ' + CAST(Retraso AS VARCHAR) + ' cuotas vencidas.'
    FROM #Saldos
    WHERE EstadoAnterior <> EstadoNuevo;

    -- 4. ACTUALIZAR TABLA LOTES
    UPDATE L
    SET L.EstadoLote = S.EstadoNuevo
    FROM tbLotes L
    INNER JOIN #Saldos S ON L.IdLote = S.IdLote
    WHERE L.EstadoLote <> S.EstadoNuevo;

    DROP TABLE #Saldos;
END
GO
/****** Object:  StoredProcedure [dbo].[lote_Anular_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_Anular_pa]
@idlote int
AS
BEGIN
	DECLARE @estadolote varchar(20)
	SELECT @estadolote=EstadoLote FROM tbLotes WHERE IdLote=@idlote
	IF @estadolote='Libre'
		UPDATE tbLotes SET EstadoLote='Cancelado' WHERE IdLote=@idlote
	ELSE
		UPDATE tbLotes SET EstadoLote='Libre' WHERE IdLote=@idlote
END
GO
/****** Object:  StoredProcedure [dbo].[lote_Filtrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_Filtrar_pa]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	L.IdProyecto,
	L.CodigoLote,
	L.Ubicacion,
	L.Precio,
	
	
	STRING_AGG(FORMAT(M.Izquierda, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasIzquierda,

	STRING_AGG(FORMAT(M.Frente, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFrente,

	STRING_AGG(FORMAT(M.Derecha, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasDerecha,

	STRING_AGG(FORMAT(M.Fondo, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFondo,

	SUM(ISNULL(M.Perimetro, 0)) AS Perimetro,
	SUM(ISNULL(M.TamañoM2 , 0)) AS TamañoMetros2,
	
	
	L.EstadoLote
	
	FROM tbLotes AS L
	INNER JOIN tbDetalleLote AS DL ON L.IdLote=DL.IdLote
	INNER JOIN tbMedidas AS M ON DL.IdMedida=M.IdMedida

	GROUP BY 
	L.IdProyecto,
	L.CodigoLote,
	L.Ubicacion,
	L.NumeroLote,
	L.Manzana,
	
	L.Precio,
	L.EstadoLote;
	
END
GO
/****** Object:  StoredProcedure [dbo].[lote_Listar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_Listar_pa]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	L.IdLote,
	L.IdProyecto,
	L.CodigoLote,
	L.Ubicacion,
	L.NumeroLote,
	L.Manzana,
	
	STRING_AGG(FORMAT(M.Izquierda, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasIzquierda,

	STRING_AGG(FORMAT(M.Frente, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFrente,

	STRING_AGG(FORMAT(M.Derecha, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasDerecha,

	STRING_AGG(FORMAT(M.Fondo, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFondo,

	SUM(ISNULL(M.Perimetro, 0)) AS Perimetro,
	SUM(ISNULL(M.TamañoM2 , 0)) AS TamañoMetros2,
	
	L.Precio,
	L.Descripcion,
	L.ImagenUrl,
	L.EstadoLote
	
	FROM tbLotes AS L
	INNER JOIN tbDetalleLote AS DL ON L.IdLote=DL.IdLote
	INNER JOIN tbMedidas AS M ON DL.IdMedida=M.IdMedida

	GROUP BY 
	L.IdLote,
	L.IdProyecto,
	L.CodigoLote,
	L.Ubicacion,
	L.NumeroLote,
	L.Manzana,
	
	L.Precio,
	L.Descripcion,
	L.ImagenUrl,
	L.EstadoLote;
	
END
GO
/****** Object:  StoredProcedure [dbo].[lote_ListarDisponibles_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_ListarDisponibles_pa]

AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT 
	L.CodigoLote,
	L.Ubicacion,
	L.NumeroLote,
	L.Manzana,
	
	STRING_AGG(FORMAT(M.Izquierda, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasIzquierda,

	STRING_AGG(FORMAT(M.Frente, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFrente,

	STRING_AGG(FORMAT(M.Derecha, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasDerecha,

	STRING_AGG(FORMAT(M.Fondo, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFondo,

	SUM(ISNULL(M.Perimetro, 0)) AS Perimetro,
	SUM(ISNULL(M.TamañoM2 , 0)) AS TamañoMetros2,
	
	L.Precio,
	L.Descripcion,
	L.ImagenUrl,
	L.EstadoLote
	
	FROM tbLotes AS L
	INNER JOIN tbDetalleLote AS DL ON L.IdLote=DL.IdLote
	INNER JOIN tbMedidas AS M ON DL.IdMedida=M.IdMedida
	WHERE L.EstadoLote='Libre'

	GROUP BY 
	L.CodigoLote,
	L.Ubicacion,
	L.NumeroLote,
	L.Manzana,
	
	L.Precio,
	L.Descripcion,
	L.ImagenUrl,
	L.EstadoLote;
	
END
GO
/****** Object:  StoredProcedure [dbo].[lote_ObtenerPorId_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_ObtenerPorId_pa]
@idlote int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	L.CodigoLote,
	L.Ubicacion,
	L.NumeroLote,
	L.Manzana,
	
	STRING_AGG(FORMAT(M.Izquierda, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasIzquierda,

	STRING_AGG(FORMAT(M.Frente, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFrente,

	STRING_AGG(FORMAT(M.Derecha, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasDerecha,

	STRING_AGG(FORMAT(M.Fondo, 'G'), ' + ')
		WITHIN GROUP (ORDER BY M.IdMedida) AS MedidasFondo,

	SUM(ISNULL(M.Perimetro, 0)) AS Perimetro,
	SUM(ISNULL(M.TamañoM2 , 0)) AS TamañoMetros2,
	
	L.Precio,
	L.Descripcion,
	L.ImagenUrl,
	L.EstadoLote
	
	FROM tbLotes AS L
	INNER JOIN tbDetalleLote AS DL ON L.IdLote=DL.IdLote
	INNER JOIN tbMedidas AS M ON DL.IdMedida=M.IdMedida
	WHERE L.IdLote=@idlote

	GROUP BY 
	L.CodigoLote,
	L.Ubicacion,
	L.NumeroLote,
	L.Manzana,
	
	L.Precio,
	L.Descripcion,
	L.ImagenUrl,
	L.EstadoLote;
END
GO
/****** Object:  StoredProcedure [dbo].[lote_Registrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[lote_Registrar_pa]
@idproyecto int,
@codlote varchar(25),
@ubicacion varchar(50),

@frenteStr varchar(max),
@fondoStr varchar(max),
@derechaStr varchar(max),
@izquierdaStr varchar(max),
@perimetro decimal(10,2),
@tamañosM2 decimal(10,2),

@numlote varchar(20),
@manzana varchar(20),
@precio decimal(18,2),
@descrip varchar(200),
@imgurl varchar(100)
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	BEGIN TRY
		--//////insert para crear lote y guaradar id
		INSERT INTO tbLotes
		(IdProyecto,CodigoLote,Ubicacion,NumeroLote,Manzana,Precio,Descripcion,ImagenUrl)
		VALUES
		(@idproyecto,@codlote,@ubicacion,@numlote,@manzana,@precio,@descrip,@imgurl);

		DECLARE @IdLoteCreado int = SCOPE_IDENTITY();
		--//////
		--//////tabla temporal para guaradr los IDs de las medidas q se van a crear
		DECLARE @IdsMedidasNuevas TABLE (IdMedida INT);
		--//////
		--//////insertamos en tbMedidas
		--El OUTPUT captura cada ID que se va generando y lo mete en la tabla temporal
		INSERT INTO tbMedidas (Frente, Fondo, Derecha, izquierda, Perimetro, TamañoM2)
		OUTPUT inserted.IdMedida INTO @IdsMedidasNuevas (IdMedida)
		SELECT
			ISNULL(CAST(TRIM(f.val)AS decimal(10,2)), NULL),
			ISNULL(CAST(TRIM(fo.val)AS decimal(10,2)), NULL),
			ISNULL(CAST(TRIM(d.val)AS decimal(10,2)), NULL),
			ISNULL(CAST(TRIM(i.val)AS decimal(10,2)), NULL),
			CASE WHEN COALESCE(f.fila, fo.fila, d.fila, i.fila) = 1 THEN @perimetro ELSE NULL END,
			CASE WHEN COALESCE(f.fila, fo.fila, d.fila, i.fila) = 1 THEN @tamañosM2 ELSE NULL END
		FROM (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY(SELECT NULL)) AS fila FROM STRING_SPLIT(@frenteStr, '+')) f
		FULL JOIN (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS fila FROM STRING_SPLIT( @fondoStr, '+'))fo  ON f.fila = fo.fila
		FULL JOIN (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS fila FROM STRING_SPLIT( @derechaStr, '+'))d  ON COALESCE(f.fila, fo.fila ) = d.fila
		FULL JOIN (SELECT value AS val, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS fila FROM STRING_SPLIT( @izquierdaStr, '+'))i  ON COALESCE(f.fila, fo.fila, d.fila) = i.fila;

		--unir el lote con todos las medidas creadas en el detalle
		INSERT INTO tbDetalleLote(IdLote, IdMedida)
		SELECT @IdLoteCreado, IdMedida
		FROM @IdsMedidasNuevas;

		COMMIT TRANSACTION;
		PRINT 'Proceso Exitoso'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		DECLARE @errorMensaje nvarchar(4000) = ERROR_MESSAGE();
		RAISERROR(@errorMensaje,16, 1);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[notificacion_Crear_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[notificacion_Crear_pa]
@idcliente int,
@mensaje varchar(100)

AS
BEGIN
	INSERT INTO tbNotificaciones
	(IdCliente,Mensaje)
	VALUES
	(@idcliente,@mensaje)
END
GO
/****** Object:  StoredProcedure [dbo].[notificacion_ListarPorCliente_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[notificacion_ListarPorCliente_pa]
@idcliente int

AS
BEGIN
	SELECT
	IdNotificacion,
	IdCliente,
	Mensaje,
	Fecha,
	leida
	FROM tbNotificaciones
	WHERE IdCliente=@idcliente

END
GO
/****** Object:  StoredProcedure [dbo].[notificacion_MarcarLeida_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[notificacion_MarcarLeida_pa]
@idnotifi int

AS
BEGIN
	DECLARE @leida char(1)
	SELECT @leida=leida FROM tbNotificaciones WHERE IdNotificacion=@idnotifi
	if @leida='N'
		UPDATE tbNotificaciones SET leida='S' WHERE IdNotificacion=@idnotifi
			
END
GO
/****** Object:  StoredProcedure [dbo].[pago_ListarPorCliente_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pago_ListarPorCliente_pa]
@dni varchar(8)
AS
BEGIN
	
	SELECT
	P.IdPago,
	C.DNI,
	C.Nombre1,
	C.Nombre2,
	C.Apaterno,
	C.Amaterno,
	V.IdVenta,
	P.FechaPago,
	P.Monto,
	P.NumeroCuota,
	
	P.EstadoPago
	FROM tbPagos AS P
	INNER JOIN tbVentas AS V ON P.IdVenta=V.IdVenta
	INNER JOIN tbClientes AS C ON V.IdCliente=C.IdCliente
	WHERE DNI=@dni
	ORDER BY P.FechaPago DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[pago_ListarPorVenta_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pago_ListarPorVenta_pa]
@idventa int
AS
BEGIN
	SELECT
	IdPago,
	IdVenta,
	IdTipoComprobante,
	Serie,
	Numero,
	FechaPago,
	Monto,
	NumeroCuota,
	
	EstadoPago
	FROM tbPagos
	WHERE IdVenta=@idventa
END
GO
/****** Object:  StoredProcedure [dbo].[pago_ObtenerSaldoPendiente_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pago_ObtenerSaldoPendiente_pa]
@idventa int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
	
	V.IdVenta,
	C.Nombre1,
	C.Nombre2,
	C.Apaterno,
	C.Amaterno,
	V.PrecioVenta,
	SUM(P.Monto) AS TotalPagado,
	(V.PrecioVenta- SUM(P.Monto)) AS SaldoPendiente
	
	FROM tbVentas AS V
	INNER JOIN tbClientes AS C ON V.IdCliente=C.IdCliente
	LEFT JOIN tbPagos AS P ON V.IdVenta=P.IdVenta
	WHERE V.IdVenta=@idventa
	GROUP BY V.IdVenta,C.Nombre1,C.Nombre2,C.Apaterno,C.Amaterno,V.PrecioVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[pago_Registrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pago_Registrar_pa]
   @idcronograma int,
    @idtipocomprobante int  
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        
        DECLARE 
            @montocuota decimal(18,2), 
            @idventa int, 
            @estadoactual varchar(25), 
            @fechavencimiento date;

        -- VARIABLES DE MORA
        DECLARE 
            @porcentajeMora DECIMAL(18,2), -- editable
            @mora DECIMAL(18,2) = 0,
            @montoFinal DECIMAL(18,2);

            SELECT @porcentajeMora=MoraPorCuota FROM tbConfiguracionSistema
        -- 1. OBTENEMOS DATOS DE LA CUOTA
        SELECT 
            @idventa = IdVenta,
            @montocuota  = MontoCuota,
            @estadoactual = EstadoCuota,
            @fechavencimiento = FechaVencimiento
        FROM tbCronograma 
        WHERE IdCronograma = @idcronograma;

        -- VALIDACIÓN 1: ¿Ya está pagada?
        IF @estadoactual = 'Pagado'
        BEGIN
            RAISERROR('Esta cuota ya ha sido pagada.', 16, 1);
            ROLLBACK TRANSACTION; RETURN;
        END

        -- VALIDACIÓN 2: ¿Hay cuotas anteriores pendientes?
        IF EXISTS (
            SELECT 1 
            FROM tbCronograma 
            WHERE IdVenta = @idventa 
              AND FechaVencimiento < @fechavencimiento 
              AND EstadoCuota IN ( 'Pendiente', 'Vencido')
        )
        BEGIN
            RAISERROR('No puede pagar esta cuota si existen cuotas anteriores pendientes.', 16, 1);
            ROLLBACK TRANSACTION; RETURN;
        END

        -- 2. ESTADO DEL PAGO DE LA TABLA PAGOS
        DECLARE @estadoPagoFinal varchar(20) = CASE 
            WHEN GETDATE() <= DATEADD(DAY, 1, @fechavencimiento) THEN 'Al Dia' 
            ELSE 'Retrasado' 
        END;

        -- 3. NÚMERO DE COMPROBANTE
        DECLARE @serie varchar(10), @NuevoNumero int;

        SELECT 
            @serie = serie, 
            @NuevoNumero = Numero + 1
        FROM tbTipoComprobante WITH (UPDLOCK) 
        WHERE IdTipoComprobante = @idtipocomprobante;

        UPDATE tbTipoComprobante 
        SET Numero = @NuevoNumero 
        WHERE IdTipoComprobante = @idtipocomprobante;

        --4. APLICAR MORA (10% si está fuera de fecha)
        IF @estadoPagoFinal = 'Retrasado'
        BEGIN
            SET @mora = @montocuota * (@porcentajeMora / 100.0);
        END

        SET @montoFinal = @montocuota + ISNULL(@mora, 0);

        -- 5. INSERTAR PAGO
        INSERT INTO tbPagos (
            IdVenta, 
            IdCronograma, 
            IdTipoComprobante, 
            Serie, 
            Numero, 
            FechaPago, 
            Monto, 
            NumeroCuota, 
            MoraPorCuota,
            EstadoPago
        )
        VALUES (
            @idventa, 
            @idcronograma, 
            @idtipocomprobante, 
            @serie, 
            @NuevoNumero, 
            GETDATE(), 
            @montoFinal, --monto con mora
            (
                SELECT COUNT(*) 
                FROM tbCronograma 
                WHERE IdVenta = @idventa 
                  AND FechaVencimiento <= @fechavencimiento
            ), 
            @porcentajeMora,
            @estadoPagoFinal
        );

        -- 6. ACTUALIZAR CRONOGRAMA
        UPDATE tbCronograma
        SET EstadoCuota = 'Pagado',
            Observacion = 'Pago: ' + @serie + '-' + CAST(@NuevoNumero AS varchar)
                        + CASE 
                            WHEN @mora > 0 
                            THEN ' | Mora: ' + CAST(@mora AS varchar) 
                            ELSE '' 
                          END
        WHERE IdCronograma = @idcronograma;

        -- 7. RECALCULAR ESTADO
        EXEC [dbo].[pago_RegistrarEstado_pa] @idVenta = @idventa;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pago_RegistrarEstado_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pago_RegistrarEstado_pa]

  @idVenta INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdLote INT, @EstadoAnterior VARCHAR(20), @EstadoNuevo VARCHAR(20), @Retraso INT;
    DECLARE @CuotasPendientesTotales INT;

    -- 1. Obtener datos actuales
    SELECT @IdLote = IdLote FROM tbVentas WHERE IdVenta = @idVenta;
    SELECT @EstadoAnterior = EstadoLote FROM tbLotes WHERE IdLote = @IdLote;

    -- 2. CALCULAR RETRASO (Solo cuotas vencidas a la fecha que no están pagadas)
    SELECT @Retraso = COUNT(*) 
    FROM tbCronograma 
    WHERE IdVenta = @idVenta 
      AND FechaVencimiento <= GETDATE() 
      AND EstadoCuota <> 'Pagado';

    -- 3. REVISAR SI YA TERMINÓ DE PAGAR TODO EL CRONOGRAMA (Futuro y Pasado)
    SELECT @CuotasPendientesTotales = COUNT(*) 
    FROM tbCronograma 
    WHERE IdVenta = @idVenta 
      AND EstadoCuota <> 'Pagado';

    -- 4. DEFINIR NUEVO ESTADO
    IF @CuotasPendientesTotales = 0
    BEGIN
        -- ¡YA NO DEBE NADA!
        SET @EstadoNuevo = 'Vendido'; -- O 'Finalizado', según tu preferencia
        
        -- Aprovechamos para cerrar la venta también
        UPDATE tbVentas SET EstadoVenta = 'Finalizado' WHERE IdVenta = @idVenta;
    END
    ELSE
    BEGIN
        -- Aún tiene cuotas futuras o retrasadas
        SET @EstadoNuevo = CASE 
            WHEN @Retraso <= 0 THEN 'Al Dia'
            WHEN @Retraso BETWEEN 1 AND 2 THEN 'Retrasado'
            WHEN @Retraso = 3 THEN 'EnDeuda'
            ELSE 'Mora Critica'
        END;
    END

    -- 5. Actualizar Lote e Historial si el estado cambió
    IF (@EstadoAnterior <> @EstadoNuevo)
    BEGIN
        UPDATE tbLotes SET EstadoLote = @EstadoNuevo WHERE IdLote = @IdLote;

        INSERT INTO tbHistorialEstadoLote (IdLote, EstadoAnterior, EstadoNuevo, FechaCambio, Motivo)
        VALUES (@IdLote, @EstadoAnterior, @EstadoNuevo, GETDATE(), 
                CASE WHEN @CuotasPendientesTotales = 0 THEN 'Venta Completada Totalmente' 
                     ELSE 'Evaluación tras pago (Retraso: ' + CAST(@Retraso AS VARCHAR) + ')' END);
    END

    -- Retornar info a la App
    SELECT @idVenta AS IdVenta, @EstadoNuevo AS EstadoActual, @CuotasPendientesTotales AS Restantes;
END
GO
/****** Object:  StoredProcedure [dbo].[proyecto_Actualizar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proyecto_Actualizar_pa]
@IdProyecto int,
@codproyecto varchar(10),
@nombre varchar(50),
@ubicacion varchar(70),
@numerohectareas varchar(50),
@imgurl varchar(100),
@partidaregistral varchar(70)
AS
BEGIN
	UPDATE tbProyectos
	SET
	CodProyecto=@codproyecto,
	Nombre=@nombre,
	Ubicacion=@ubicacion,
	NumeroHectareas=@numerohectareas,
	ImagenUrl=@imgurl,
	PartidaRegistral=@partidaregistral,
	FechaUpdate=GETDATE()
	WHERE IdProyecto=@IdProyecto
	
END
GO
/****** Object:  StoredProcedure [dbo].[proyecto_Anular_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proyecto_Anular_pa]
@idproyecto int
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @estado char(1)
	SELECT @estado=Estado FROM tbProyectos WHERE IdProyecto=@idproyecto
	IF @estado='A'
		UPDATE tbProyectos SET Estado='X', FechaDelete=GETDATE() WHERE IdProyecto=@idproyecto
	ELSE
		UPDATE tbProyectos SET Estado='A' WHERE IdProyecto=@idproyecto 
END
GO
/****** Object:  StoredProcedure [dbo].[proyecto_Listar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proyecto_Listar_pa]

AS
BEGIN
SET NOCOUNT ON;
	SELECT 
	IdProyecto,
	CodProyecto,
	Nombre,
	Ubicacion,
	NumeroHectareas,
	PartidaRegistral,
	ImagenUrl,
	FechaRegistro,
	FechaUpdate,
	FechaDelete,
	Estado
	FROM tbProyectos
	
END
GO
/****** Object:  StoredProcedure [dbo].[proyecto_Registrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proyecto_Registrar_pa]
@codproyecto varchar(10),
@nombre varchar(50),
@ubicacion varchar(70),
@numerohectareas varchar(50),
@partidaregistral varchar(70),
@imgurl varchar(255)

AS
BEGIN
	INSERT INTO tbProyectos
	(CodProyecto,
	Nombre,
	Ubicacion,
	NumeroHectareas,
	PartidaRegistral,
	ImagenUrl,
	FechaRegistro)
	VALUES
	(@codproyecto,
	@nombre,
	@ubicacion,
	@numerohectareas,
	@partidaregistral,
	@imgurl,
	
	GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[rdeporte_LotesVendidos_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rdeporte_LotesVendidos_pa]
AS
BEGIN
    SELECT L.CodigoLote, L.Manzana, L.NumeroLote, 
           C.Nombre1 + ' ' + C.Apaterno AS Cliente, 
           V.FechaVenta, V.EstadoVenta
    FROM tbLotes L
    INNER JOIN tbVentas V ON L.IdLote = V.IdLote
    INNER JOIN tbClientes C ON V.IdCliente = C.IdCliente
    WHERE V.EstadoVenta IN ('Activa', 'Finalizado')
    ORDER BY V.FechaVenta DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[reporte_ClientesEnDeuda_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reporte_ClientesEnDeuda_pa]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM (
        SELECT 
            C.Nombre1 + ' ' + C.Apaterno AS Cliente, 
            C.DNI,
            C.Celular, 
            L.CodigoLote, 
            L.Manzana, 
            L.NumeroLote,
            -- Calculamos la deuda aquí
            (DATEDIFF(MONTH, V.FechaVenta, GETDATE()) - 
                (SELECT COUNT(*) FROM tbPagos P WHERE P.IdVenta = V.IdVenta)
            ) AS MesesAtrasados
        FROM tbVentas V
        INNER JOIN tbClientes C ON V.IdCliente = C.IdCliente
        INNER JOIN tbLotes L ON V.IdLote = L.IdLote
        WHERE V.EstadoVenta = 'Activa'
    ) AS ConsultaInterna
    -- Ahora sí podemos filtrar por el resultado del cálculo
    WHERE MesesAtrasados > 0
    ORDER BY MesesAtrasados DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[reporte_IngresosGenerados_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reporte_IngresosGenerados_pa]  
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Año,
        Mes,
        CAST(ROUND(SUM(MontoPagos),2) AS DECIMAL(18,2)) AS TotalPagosYMoras,
        CAST(ROUND(SUM(MontoPenalidades),2) AS DECIMAL(18,2)) AS TotalPenalidades,
        CAST(ROUND(SUM(MontoPagos) + SUM(MontoPenalidades),2) AS DECIMAL(18,2)) AS GranTotalMes,
        SUM(Cantidad) AS TotalOperaciones
    FROM (
        -- 1. DINERO DE PAGOS (Al día y Retrasados)
        SELECT 
            YEAR(FechaPago) AS Año,
            MONTH(FechaPago) AS Mes,
            SUM(Monto) AS MontoPagos,
            0 AS MontoPenalidades,
            COUNT(IdPago) AS Cantidad
        FROM tbPagos
        GROUP BY YEAR(FechaPago), MONTH(FechaPago)

        UNION ALL

        -- 2. DINERO DE PENALIDADES (Ventas Canceladas)
        -- Usamos el 10% calculado sobre el precio de venta
        SELECT 
            YEAR(FechaVenta) AS Año, -- O una fecha de cancelación si la tuvieras
            MONTH(FechaVenta) AS Mes,
            0 AS MontoPagos,
            SUM(PrecioVenta * (PenalidadAplicada / 100.0)) AS MontoPenalidades,
            COUNT(IdVenta) AS Cantidad
        FROM tbVentas
        WHERE EstadoVenta = 'Cancelada'
        GROUP BY YEAR(FechaVenta), MONTH(FechaVenta)
    ) AS Consolidado
    GROUP BY Año, Mes
    ORDER BY Año DESC, Mes DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[reporte_LotesDisponibles]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reporte_LotesDisponibles]
AS
BEGIN
    SELECT 
    L.CodigoLote, 
    L.Manzana, 
    L.NumeroLote, 
    L.Ubicacion, 
    M.TamañoM2, 
    L.Precio
    FROM tbLotes AS L
    INNER JOIN tbDetalleLote AS DL ON L.IdLote=DL.IdLote
    INNER JOIN tbMedidas AS M ON DL.IdMedida=M.IdMedida
    WHERE EstadoLote = 'Libre'
    ORDER BY Manzana, NumeroLote;
END
GO
/****** Object:  StoredProcedure [dbo].[reporte_PagosRealizados_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reporte_PagosRealizados_pa]
    @FechaInicio VARCHAR(20) = NULL, 
    @FechaFin VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Usamos TRY_CAST para evitar que el PA truene si el string falla
    DECLARE @f1 DATETIME = TRY_CAST(@FechaInicio AS DATETIME);
    DECLARE @f2 DATETIME = TRY_CAST(@FechaFin AS DATETIME);

    SELECT P.IdPago, C.Nombre1 + ' ' + C.Apaterno AS Cliente, 
           L.CodigoLote, P.Monto, P.FechaPago, P.NumeroCuota
    FROM tbPagos P
    INNER JOIN tbVentas V ON P.IdVenta = V.IdVenta
    INNER JOIN tbClientes C ON V.IdCliente = C.IdCliente
    INNER JOIN tbLotes L ON V.IdLote = L.IdLote
    WHERE (@f1 IS NULL OR P.FechaPago >= @f1)
      AND (@f2 IS NULL OR P.FechaPago <= @f2)
    ORDER BY P.FechaPago DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_Actualizar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usuario_Actualizar_pa]

@idusuario int,
@nombre varchar(50),
@correo varchar(100),
@contraseña varchar(50),
@tipousuario varchar(25),
@celular varchar(9)

AS
BEGIN
	SET NOCOUNT ON;

	UPDATE tbUsuarios 
	SET
	Nombre=@nombre,
	Correo=@correo,
	Contraseña=@contraseña,
	TipoUsuario=@tipousuario,
	Celular=@celular,
	FechaUpdate=GETDATE()
	WHERE
	IdUsuario=@idusuario

END
GO
/****** Object:  StoredProcedure [dbo].[usuario_ActualizarContraseña_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usuario_ActualizarContraseña_pa]
@idusuario int,
@contraseñaActual varchar(50),
@contraseñaNueva varchar(50)
AS
BEGIN
		IF EXISTS( SELECT 1 FROM tbUsuarios WHERE IdUsuario=@idusuario AND Contraseña = @contraseñaActual)
		BEGIN
			UPDATE tbUsuarios SET Contraseña=@contraseñaNueva WHERE IdUsuario=@idusuario; 
		SELECT 'Éxito' AS Estado, 'Contraseña cambiada' AS Mensaje;
    END
    ELSE
    BEGIN
        SELECT 'Error' AS Estado, 'La contraseña actual no coincide' AS Mensaje;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_Anular_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usuario_Anular_pa]
@idusuario int
AS
BEGIN
	DECLARE @estado char(1)
	SELECT @estado=Estado FROM tbUsuarios WHERE IdUsuario=@idusuario
	IF @estado='A'
		UPDATE tbUsuarios SET Estado='X',FechaDelete=GETDATE() WHERE IdUsuario=@idusuario
	ELSE 
		UPDATE tbUsuarios SET Estado='A' WHERE IdUsuario=@idusuario
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_Listar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usuario_Listar_pa]
AS
BEGIN
	SELECT 
	IdUsuario,
	Nombre,
	Correo,
	Contraseña,
	TipoUsuario,
	Celular,
	FechaRegisstro,
	Estado
	FROM tbUsuarios
	
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_Login_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usuario_Login_pa]
@correo varchar(100),
@contraseña varchar(50)
AS
BEGIN
	SELECT 
	IdUsuario,
	Nombre,
	TipoUsuario
	FROM tbUsuarios
	WHERE Correo=@correo 
	AND Contraseña=@contraseña
	AND Estado='A'
	
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_ObtenerPorId_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usuario_ObtenerPorId_pa]
@buscar varchar(100)
AS
BEGIN
	SELECT 
	IdUsuario,
	Nombre,
	Correo,
	Contraseña,
	TipoUsuario,
	Celular,
	FechaRegisstro,
	Estado
	FROM tbUsuarios
	WHERE Nombre LIKE '%' +@buscar+ '%'
	OR	  Correo LIKE '%' +@buscar+ '%'
	OR	  Celular LIKE '%' +@buscar+ '%';
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_Registrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usuario_Registrar_pa] 
@nombre varchar(50),
@correo varchar(100),
@contraseña varchar(50),
@celular varchar(9)
AS
BEGIN
	INSERT INTO tbUsuarios (Nombre,Correo,Contraseña,Celular)
	values (@nombre,@correo,@contraseña,@celular);
END
GO
/****** Object:  StoredProcedure [dbo].[venta_Cancelar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[venta_Cancelar_pa]
    @idVenta INT,
    @observacion VARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @idLote INT, 
                @precioVenta DECIMAL(18,2), 
                @porcentajePenalidad DECIMAL(18,2),
                @montoPagado DECIMAL(18,2);
        
        -- 1. OBTENEMOS EL PORCENTAJE DE LA TABLA CONFIGURACIÓN
        SELECT TOP 1 @porcentajePenalidad = PenalidadPorcentaje FROM tbConfiguracionSistema;

        -- 2. OBTENEMOS DATOS DE LA VENTA Y LO QUE EL CLIENTE YA PAGÓ REALMENTE
        SELECT @idLote = IdLote, @precioVenta = PrecioVenta 
        FROM tbVentas WHERE IdVenta = @idVenta;

        SELECT @montoPagado = ISNULL(SUM(Monto), 0) 
        FROM tbPagos WHERE IdVenta = @idVenta;

        -- 3. ACTUALIZAR ESTADO DE LA VENTA
        -- Guardamos en la observación que se cancela sin devolución
        UPDATE tbVentas 
        SET EstadoVenta = 'Cancelada', 
            Observacion = ISNULL(Observacion, '') + 
                          ' | CANCELACIÓN SIN DEVOLUCIÓN: ' + @observacion + 
                          ' | MONTO RETENIDO (PAGADO HASTA LA FECHA): ' + CAST(@montoPagado AS VARCHAR)
        WHERE IdVenta = @idVenta;

        -- 4. LIBERAR EL LOTE
        UPDATE tbLotes SET EstadoLote = 'Libre' WHERE IdLote = @idLote;

        -- 5. ANULAR EL RESTO DEL CRONOGRAMA
        UPDATE tbCronograma 
        SET EstadoCuota = 'Anulado',
            Observacion = 'Venta cancelada - Sin derecho a devolución'
        WHERE IdVenta = @idVenta 
          AND EstadoCuota IN ('Pendiente', 'Vencido');

        COMMIT TRANSACTION;
        
        SELECT 'Venta cancelada. Lote liberado. Monto retenido: ' + CAST(@montoPagado AS VARCHAR) AS Resultado;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[venta_Listar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[venta_Listar_pa]

AS
BEGIN
	
	SELECT 
	IdVenta,
	IdLote,
	IdUsuario,
	IdCliente,
	IdAsesor,
	FechaVenta,
	PrecioVenta,
	TipoVenta,
	TipoPago,
	MontoInicial,

	PlazoMeses,
	Estadoventa,
	PenalidadAplicada,
	Observacion
	FROM tbVentas
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[venta_ObtenerPorId_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[venta_ObtenerPorId_pa]
@idlote int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
	IdVenta,
	IdLote,
	IdUsuario,
	IdCliente,
	IdAsesor,
	FechaVenta,
	PrecioVenta,
	TipoVenta,
	TipoPago,
	MontoInicial,
	
	PlazoMeses,
	Estadoventa,
	PenalidadAplicada,
	Observacion
	FROM tbVentas
	WHERE IdLote=@idlote
	
END
GO
/****** Object:  StoredProcedure [dbo].[venta_registrar_pa]    Script Date: 7/05/2026 08:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[venta_registrar_pa]
    @idlote int, 
    @idusuario int, 
    @idcliente int,
    @idasesor int,
    @precioventa decimal(18,2),
    @montoInicial decimal(18,2),
    @tipoVenta nvarchar(10),     -- 'Contado' o 'Financiado'
    @tipoPago varchar(25),       -- Puede venir NULL o vacío si es Contado
    @plazoMeses int,             -- Puede venir 0 si es Contado
    @observacion varchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @fechaActual DATE = GETDATE();
    DECLARE @frecuencia INT = 0;
    DECLARE @cuotas INT = 0;

    DECLARE @penalidadaplicada DECIMAL(18,2);

    SELECT TOP 1 @penalidadaplicada=PenalidadPorcentaje FROM tbConfiguracionSistema;

    -- 1. CONFIGURACIÓN SEGÚN TIPO DE VENTA
    IF @tipoVenta = 'Contado'
    BEGIN
        SET @montoInicial = @precioventa; -- El pago es el total
        SET @plazoMeses = 0;              -- Limpiamos plazo
        SET @tipoPago = 'Contado';        -- Forzamos etiqueta
    END
    ELSE -- CASO: FINANCIADO
    BEGIN
        IF @montoInicial >= @precioventa
            THROW 50001, 'En venta financiada, el inicial debe ser menor al total', 1;

        SET @frecuencia = 
            CASE 
                WHEN @tipoPago = 'Mensual' THEN 1
                WHEN @tipoPago = 'Trimestral' THEN 3
                WHEN @tipoPago = 'Semestral' THEN 6
                ELSE 1
            END;

        -- Validar que el plazo sea coherente con la frecuencia
        IF @plazoMeses % @frecuencia <> 0
            THROW 50002, 'El plazo no es compatible con la frecuencia de pago elegida', 1;

        SET @cuotas = @plazoMeses / @frecuencia;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 2. INSERTAR CABECERA DE VENTA
        INSERT INTO tbVentas (
            IdLote, IdUsuario, IdCliente, IdAsesor,
            FechaVenta, PrecioVenta, TipoVenta, TipoPago,
            MontoInicial, PlazoMeses, EstadoVenta, PenalidadAplicada,Observacion
        )
        VALUES (
            @idlote, @idusuario, @idcliente, @idasesor,
            @fechaActual, @precioventa, @tipoVenta, @tipoPago,
            @montoInicial, @plazoMeses, 'Activo', @penalidadaplicada,@observacion
        );

        DECLARE @IdVenta INT = SCOPE_IDENTITY();

        -- 3. GENERAR CRONOGRAMA
        IF @tipoVenta = 'Contado'
        BEGIN
            -- Solo una entrada con el total
            INSERT INTO tbCronograma (IdVenta, FechaVencimiento, MontoCuota, EstadoCuota, Observacion)
            VALUES (@IdVenta, @fechaActual, @precioventa, 'Pendiente', 'Pago Único Contado');
        END
        ELSE
        BEGIN
            -- A. Insertar Cuota Inicial
            INSERT INTO tbCronograma (IdVenta, FechaVencimiento, MontoCuota, EstadoCuota, Observacion)
            VALUES (@IdVenta, @fechaActual, @montoInicial, 'Pendiente', 'Cuota Inicial');

            -- B. Calcular y generar cuotas financiadas
            DECLARE @saldo DECIMAL(18,2) = @precioventa - @montoInicial;
            DECLARE @cuotaMonto DECIMAL(18,2) = ROUND(@saldo / @cuotas, 2);
            DECLARE @diferencia DECIMAL(18,2) = @saldo - (@cuotaMonto * @cuotas);

            DECLARE @i INT = 1;
            WHILE @i <= @cuotas
            BEGIN
                INSERT INTO tbCronograma (IdVenta, FechaVencimiento, MontoCuota, EstadoCuota, Observacion)
                VALUES (
                    @IdVenta,
                    DATEADD(MONTH, @i * @frecuencia, @fechaActual),
                    CASE WHEN @i = 1 THEN @cuotaMonto + @diferencia ELSE @cuotaMonto END,
                    'Pendiente',
                    'Cuota ' + CAST(@i AS VARCHAR)
                );
                SET @i = @i + 1;
            END
        END

        -- 4. ACTUALIZAR ESTADO DEL LOTE
        UPDATE tbLotes SET EstadoLote = 'Al Dia' WHERE IdLote = @idlote;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
